<header class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Edit Resource
      </h2>
    </div>
  </div>
</header>

<hr/>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
        <div class="panel-body">
          <%= render 'form' %>
        </div>
    </div>
  </div>
</div>
